<div class="container">
    <div class="header">
        <h1 class="text-center">Project Board</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="h5">To Do</h2>
                    <ul class="list-unstyled">
                        {{!-- {{#each todos}}
                            {{#if_equal status "todo"}}
                                {{> todos/todo-block completed=false}}
                            {{/if_equal}}
                        {{/each}} --}}
                        {{#each todos}}
                            {{#unless completed}}
                                {{> todos/todo-block completed=false}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Completed</h2>
                    <ul class="list-unstyled">
                        {{!-- {{#each todos}}
                            {{#if_equal status "complete"}}
                                {{> todos/todo-block completed=true}}
                            {{/if_equal}}
                        {{/each}} --}}
                        {{#each todos}}
                            {{#if completed}}
                                {{> todos/todo-block completed=true}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2>Add New To Do</h2>
    <form action="/api/todos" method="POST">
        <div class="form-group">
            <input class="form-control" name="todo" type="text">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


