<h1>Project Board</h1>

<ul>
  {{#each todos}}
    {{#unless completed}}
        {{> todos/todo-block completed=false}}
    {{/unless}}
  {{/each}}
</ul>
<ul>
  {{#each todos}}
    {{#if completed}}
        {{> todos/todo-block completed=true}}
    {{/if}}
  {{/each}}
</ul>

