<div class="container">
    <div class="header">
        <h1 class="text-center">Project Board</h1>
    </div>

    <div class="row">
        <div class="col-md-4 task-list my-4">
            <h2 class="task-list-title h5 bg-light p-3 my-0">To Do</h2>
            <ul class="task-list-ul list-unstyled bg-light p-3 my-0">
                {{#each todos}}
                    {{#ifeq status "todo"}}
                        {{> todos/todo-block}}
                    {{/ifeq}}
                {{/each}}
            </ul>
            <div class="add-todo task-list-footer bg-light my-0 p-3" data-status="todo">
                <i class="fas fa-plus"></i> Add A Task
            </div>
        </div>
        <div class="col-md-4 task-list my-4">
            <h2 class="task-list-title h5 bg-light p-3 my-0">In Progress</h2>
            <ul class="task-list-ul list-unstyled bg-light p-3 my-0">
                {{#each todos}}
                    {{#ifeq status "in-progress"}}
                        {{> todos/todo-block}}
                    {{/ifeq}}
                {{/each}}
            </ul>
            <div class="add-todo task-list-footer bg-light my-0 p-3" data-status="in-progress">
                <i class="fas fa-plus"></i> Add A Task
            </div>
        </div>
        <div class="col-md-4 task-list my-4">
            <h2 class="task-list-title h5 bg-light p-3 my-0">Complete</h2>
            <ul class="task-list-ul list-unstyled bg-light p-3 my-0">
                {{#each todos}}
                    {{#ifeq status "complete"}}
                        {{> todos/todo-block}}
                    {{/ifeq}}
                {{/each}}
            </ul>
            <div class="add-todo task-list-footer bg-light my-0 p-3" data-status="complete">
                <i class="fas fa-plus"></i> Add A Task
            </div>
        </div>
    </div>

{{!-- ADD TASK MODAL --}}
<div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="add-task-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="my-4" action="/api/todos" method="POST">
            <div class="form-group">
                <input class="form-control" name="task" id="task-input" type="text">
            </div>
            <button type="submit" value="submit" class="btn btn-primary" id="submit-task">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>