body, .container {
    min-height: 100vh;
}

.set-complete:hover, .set-in-progress:hover, .add-todo:hover, .view-task:hover {
    cursor: pointer;
}

.task:hover .view-task {
    display: inline;
}

.view-task {
    display: none;
}

.task-list, .task-li, .task {
    border-radius: 15px;
}

.task-list-title {
    border-radius: 15px 15px 0 0;
}

.task-list-footer {
    border-radius: 0 0 15px 15px;
}

.dragged {
    z-index: 1;
    transform: rotate(5deg);
}